# Ignore virtual environment folder
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python bytecode
__pycache__/
*.pyc

# OS files (macOS, Windows)
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/

# Optional: Ignore model files if you don't want to commit them
*.pkl